<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean id="firstDao" class="com.baizhi.dao.FirstDaoImpl"></bean>
    <bean id="testFrontAdvice" class="com.baizhi.service.TestFrontAdvice"></bean>
    <bean id="around" class="com.baizhi.service.MyAround"></bean>
    <bean id="firstService" class="com.baizhi.service.FirstServiceImpl">
        <property name="firstDao" ref="firstDao"></property>
    </bean>
    <aop:config>
        <!--创建切入点-->
        <aop:pointcut id="pt" expression="execution(* com.baizhi.service.*.*(..))"></aop:pointcut>
        <!--组装切面-->
        <aop:advisor advice-ref="around" pointcut-ref="pt"></aop:advisor>
    </aop:config>


</beans>