<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
    <properties resource="db.properties"></properties>
    <typeAliases>
        <typeAlias type="com.baizhi.entity.Province" alias="Province"/>
        <typeAlias type="com.baizhi.entity.City" alias="City"/>
        <typeAlias type="com.baizhi.entity.Area" alias="Area"/>
    </typeAliases>
    <!-- 连接环境配置 -->
    <environments default="oracle">
        <environment id="oracle">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/city"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/AreaMapper.xml"/>
        <mapper resource="mapper/CityMapper.xml"/>
        <mapper resource="mapper/ProvinceMapper.xml"/>
    </mappers>
</configuration>
